In [1]:
import pandas as pd

df=pd.read_csv("weather_data.csv")
print(df)

          day  temperature  windspeed   event  duration
0  01-01-2017         32.0        6.0    Rain         2
1  01-04-2017          NaN        9.0   Sunny         3
2  01-05-2017         28.0        NaN    Snow         4
3  01-06-2017          NaN        7.0     NaN         5
4  01-07-2017         32.0        NaN    Rain         7
5  01-08-2017          NaN        NaN   Sunny         5
6  01-09-2017          NaN        NaN     NaN         6
7  01-10-2017         34.0        8.0  Cloudy         4
8  01-11-2017         40.0       12.0   Sunny         2

In [3]:
df.head() #-----Gives first 5  rows of the dataframe

          day  temperature  windspeed  event  duration
0  01-01-2017         32.0        6.0   Rain         2
1  01-04-2017          NaN        9.0  Sunny         3
2  01-05-2017         28.0        NaN   Snow         4
3  01-06-2017          NaN        7.0    NaN         5
4  01-07-2017         32.0        NaN   Rain         7

In [4]:
df.tail() #------Gives last 5  rows of the dataframe

          day  temperature  windspeed   event  duration
4  01-07-2017         32.0        NaN    Rain         7
5  01-08-2017          NaN        NaN   Sunny         5
6  01-09-2017          NaN        NaN     NaN         6
7  01-10-2017         34.0        8.0  Cloudy         4
8  01-11-2017         40.0       12.0   Sunny         2

In [5]:
df.describe()#---- Gives all the quantitative data like mean and all in rows and columns

       temperature  windspeed  duration
count      5.00000   5.000000  9.000000
mean      33.20000   8.400000  4.222222
std        4.38178   2.302173  1.715938
min       28.00000   6.000000  2.000000
25%       32.00000   7.000000  3.000000
50%       32.00000   8.000000  4.000000
75%       34.00000   9.000000  5.000000
max       40.00000  12.000000  7.000000

In [16]:
missing_data=df.isnull() 

print(missing_data)#--------Prints all the null values in dataset

     day  temperature  windspeed  event  duration
0  False        False      False  False     False
1  False         True      False  False     False
2  False        False       True  False     False
3  False         True      False   True     False
4  False        False       True  False     False
5  False         True       True  False     False
6  False         True       True   True     False
7  False        False      False  False     False
8  False        False      False  False     False

In [17]:
df.dropna(axis=1)#-----Gives the column without any null values

df.dropna(how='all')

          day  temperature  windspeed   event  duration
0  01-01-2017         32.0        6.0    Rain         2
1  01-04-2017          NaN        9.0   Sunny         3
2  01-05-2017         28.0        NaN    Snow         4
3  01-06-2017          NaN        7.0     NaN         5
4  01-07-2017         32.0        NaN    Rain         7
5  01-08-2017          NaN        NaN   Sunny         5
6  01-09-2017          NaN        NaN     NaN         6
7  01-10-2017         34.0        8.0  Cloudy         4
8  01-11-2017         40.0       12.0   Sunny         2

In [18]:
# following process is to find mean of temperature and rplace it with NaN values
df.dropna(subset=['temperature'])

          day  temperature  windspeed   event  duration
0  01-01-2017         32.0        6.0    Rain         2
2  01-05-2017         28.0        NaN    Snow         4
4  01-07-2017         32.0        NaN    Rain         7
7  01-10-2017         34.0        8.0  Cloudy         4
8  01-11-2017         40.0       12.0   Sunny         2

In [21]:
mean_temp=df['temperature'].mean()
# print(mean_temp)
df['temperature']=df['temperature'].fillna(mean_temp)
print(df)

          day  temperature  windspeed   event  duration
0  01-01-2017         32.0        6.0    Rain         2
1  01-04-2017         33.2        9.0   Sunny         3
2  01-05-2017         28.0        NaN    Snow         4
3  01-06-2017         33.2        7.0     NaN         5
4  01-07-2017         32.0        NaN    Rain         7
5  01-08-2017         33.2        NaN   Sunny         5
6  01-09-2017         33.2        NaN     NaN         6
7  01-10-2017         34.0        8.0  Cloudy         4
8  01-11-2017         40.0       12.0   Sunny         2

In [22]:
#following process is to find mean of windspeed and rplace it with NaN values
df.dropna(subset=['windspeed'])
mean_wspeed=df['windspeed'].mean()
df['windspeed']=df['windspeed'].fillna(mean_wspeed)
print(df)

          day  temperature  windspeed   event  duration
0  01-01-2017         32.0        6.0    Rain         2
1  01-04-2017         33.2        9.0   Sunny         3
2  01-05-2017         28.0        8.4    Snow         4
3  01-06-2017         33.2        7.0     NaN         5
4  01-07-2017         32.0        8.4    Rain         7
5  01-08-2017         33.2        8.4   Sunny         5
6  01-09-2017         33.2        8.4     NaN         6
7  01-10-2017         34.0        8.0  Cloudy         4
8  01-11-2017         40.0       12.0   Sunny         2

In [26]:
#process to change the categorical event 
df.dropna(subset=['event'])

df['event']=df['event'].fillna("No_event")
print(df)

          day  temperature  windspeed     event  duration
0  01-01-2017         32.0        6.0      Rain         2
1  01-04-2017         33.2        9.0     Sunny         3
2  01-05-2017         28.0        8.4      Snow         4
3  01-06-2017         33.2        7.0  No_event         5
4  01-07-2017         32.0        8.4      Rain         7
5  01-08-2017         33.2        8.4     Sunny         5
6  01-09-2017         33.2        8.4  No_event         6
7  01-10-2017         34.0        8.0    Cloudy         4
8  01-11-2017         40.0       12.0     Sunny         2

In [27]:
df.dtypes#--------gives datatypes of the given dataset

day             object
temperature    float64
windspeed      float64
event           object
duration         int64
dtype: object

In [28]:
print(df)

          day  temperature  windspeed     event  duration
0  01-01-2017         32.0        6.0      Rain         2
1  01-04-2017         33.2        9.0     Sunny         3
2  01-05-2017         28.0        8.4      Snow         4
3  01-06-2017         33.2        7.0  No_event         5
4  01-07-2017         32.0        8.4      Rain         7
5  01-08-2017         33.2        8.4     Sunny         5
6  01-09-2017         33.2        8.4  No_event         6
7  01-10-2017         34.0        8.0    Cloudy         4
8  01-11-2017         40.0       12.0     Sunny         2